.box{
  width: 700px;
  margin: 3em auto 3em;
  padding: 0em 0em 5em;
  background: #FFF4E1;
  border: solid 3px #FFF;
  border-radius: 10px;
  text-align: center;
}
h1{
  margin: 1em 0em 0em;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro';
}
h1:before {
  content: '';
  position: absolute;
  bottom: -10px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: black;
  border-radius: 2px;
}
.description{
  font-size: 15px;
  font-family: メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
input, textarea {
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: solid 3px #FFF4E1;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 50%);
}
.button {
  margin: 0em 3em;
  display      : inline-block;
  opacity      : 1;
  cursor       : pointer;
  transition   : .3s;
}
.button:hover {
  opacity      : 0.5;
}
